* {
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.super-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(white,rgb(207, 207, 207));
    height: 100vh;
    width: 100vw;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    max-width: 600px;
    
    
    h1 {
        font-family: 'Varela Round', sans-serif;
        display: flex;
        margin: 0;
        
        
        
    }

    .title-line{
        height: 3px;
        width: 80px;
        background-color: #007bff;
    }
    
}

.name {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin: 0.5rem;
    margin-bottom: 0.2rem;
}

.ocupation {
    font-size: 0.8rem;
    color:#007bff;
    text-transform: uppercase;
    
}

.review-cont {
    margin-top: 40px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 450px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(172, 171, 171);
}


.circle {
    
    background-color: mediumseagreen;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 10;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        position: relative;
    }
   
}

.circle::before {
    content: '';
    position: absolute;
    display: block;
    background-color:#007bff;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transform: translateX(5px) translateY(-5px);
    z-index: 0;
    
}



.tiny-circle {
    position: relative;
    i{  
        top: -140px;
        left: -10px;
        font-size: 1.5rem;
        color: white;
        padding: 10px;
        position: absolute;
        border-radius: 50%;
        background-color: #007bff;
        z-index: 15;
    }
}




.arrow {
    font-size: 1.5em;
    color: #007bff;
    margin: 0.2rem;
    cursor: pointer;
    
}

.arrow-left {
    visibility: hidden;
}


.arrowbtn {
    outline: none !important;
}


.btn {
    margin: 1rem;
    margin-bottom: 0;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
 }

.review-txt {
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
    height: 100px;
}

.home-screen {
    position: fixed;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: rgba(63, 63, 63, 0.5);
    z-index: 15;
    left: 0;
    top: 0;
    transition: all 0.3s ease-in ;
    opacity: 1;
}

.hs-panel {
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 15% auto ;
    width: 70%;
    height: 600px;
    border-radius: 10px;
    box-shadow: black;
    box-shadow: 3px 3px 10px rgb(77, 77, 77);

    

    h1 {
        font-size: 3.5rem;
        font-family: 'Great Vibes', cursive;
        color: black;      
    }

    .hs-btn {
        margin: 20px;
        padding: 0.2rem;
        border-radius: 10px;
    }
    
    .hs-btn:focus {
        outline: none;
    }
}